# Ensure venv exists
if [[ ! -d .venv ]]; then
    echo "Creating missing .venv"
    if ! python -m venv .venv; then
        echo "ERROR: Failed to create virtual environment"
        exit 1
    fi
fi

# Sanity check for activation script
if [[ ! -f .venv/bin/activate ]]; then
    echo "ERROR: Malformed virtual environment"
    exit 1
fi

# Attenpt to activate venv
if ! source .venv/bin/activate; then
    echo "ERROR: Failed to activate virtual environment"
    exit 1
else
    unset PS1
fi

# Load environment variables from .env
if [[ -f .env ]]; then
    dotenv
else
    echo "NOTICE: Missing file: .env"
fi
